/*↓主页↓*/
/*超出部分省略*/


body{
    background-color: #fff;
    margin: 0 auto;
    _width: expression(parseInt(document.body.clientWidth) + 'px';);
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

a {  color: #000000; text-decoration: none;font-size:14px;}

a.tablelink:hover{ color: #ff0000;}

img{
    border:0;
}

.btn{
    color: #333;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table_mid{
    width:100%;
    table-layout:fixed;
}

.table_bottom{
    width:100%;
    table-layout:fixed;
}

.table_mid tr,
.table_bottom tr{
    vertical-align: middle;
}

.table_mid tr >td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table_bottom tr >td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-div {
    width: 100%;
    height: 100%;
    /*background-color: #F3F1F2;*/
    background-color: #fff;
    border: 1px solid #ebebeb;
}

.row{
    width:100%;
    min-width: 1000px;
    height: 320px;
}

.col-sm-3{
    width: 24%;
}

.col-sm-6{
    width: 50%;
}

.col-sm-4{
    width: 33%;
}

.col-div-title {
    height: 30px;
    background-color: #fff;
    color: #e7e7e7;
    border-bottom: 1px dotted #CED6E1;
    background-image: url("../../index/image/titlebackground.jpg");
}

.col-div-title>span>a>img{
    margin-right: 3px;
}

.col-div-title>span>a{
    position: relative;
    top: 8px;
    left: 6px;
}

.col-div-title>span>a{
    font-size: 14px;
    float: left;
}

.col-div-title>span>a:link,
.col-div-title>span>a:visited,
.col-div-title .more a:link,
.col-div-title .more a:visited {
    color:#000;
    text-decoration: none;
}

.col-div-title>span>a:hover,
.col-div-title .more a:hover{
    color:#ff0000;
}

.more{
    float: right;
    position: relative;
    right: 12px;
}

