.no-border {
  border: 1px solid transparent !important;
}
.content-page-container{
    max-width: 970px !important;
}

.parent{
    display: table;
    border:1px solid #000000;
}

.parent .left-col{
    padding:0;
}

.parent .left-col .left{

}

.left-title {
    height: 30px;
    padding: 6px;
    /*background-color: #383938;*/
    background-image: url("/index/image/titlebackground.jpg");
    color: #a92029;
}
.inputlikebs{
    /* padding: 5px 4px;
    font-size: 14px;
  line-height: 1.42857143; */
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.youxiugongcheng-table{
    width:100%;
    text-align: center;
    position: relative;
    top: 50px;
}

.youxiugongcheng-table tr td a:link,
.youxiugongcheng-table tr td a:hover,
.youxiugongcheng-table tr td a:visited{
    color: #2c54ff;
    text-decoration: underline;
}
.submitphoto{
    border:2px solid #ddd;
    width:120px;height:150px;
    position:absolute;
    left:45%;top:2%
}
.parent .right-col{
    padding:0;
}

.parent .right-col .right{
    min-height: 300px;
}

@media (min-width: 992px){
    .parent{
        width: 970px;
    }
    .parent .right-col .right{
        border-left:1px solid #000;
    }
}

.right{
    padding: 0 6px;
}

.right>hr{
    border-top:1px solid #000;
}

.right .right-title>p{
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding:18px 0;
}

.right-time>p{
    text-align: center;
    font-size: 14px;
}

.right-file-no>p{
    text-align: center;
    font-size: 14px;
}

.right-content>p{
     white-space: pre-wrap;
     word-wrap:break-word; /*url不拆分*/
     font-size: 14px;
     line-height: 2;
     padding:0 30px;
     margin:0 0 0 0;
 }

.right-content img{
    max-width: 90%;
    height:auto;
}

.right-end,
.right-date{
    text-align: right;
    font-size: 14px;
    padding:0 30px;
}

.right-file>p{
    font-size: 13px;
    padding:0 30px;
}

.right-file>p>a:link{
    color: #2c54ff;
    text-decoration: underline;
}


@media (max-width: 992px){
    .content-page-container{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container>.parent{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .right .right-content>p,
    .right .right-file>p{
        padding:0 6px;
    }
    .youxiugongcheng-table{
        visibility: hidden;
    }
    .right-content *{
        max-width:100% !important;
    }
	
}
