
footer{
    margin-top: 3px;
}

footer > div {
    height: 110px;
    background-color: #fff;
    border-top:1px solid #000;
}

footer > div > table {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

footer p {
    display: inline;
    color: #000;
    line-height: 1.5em;
}