#nav-menu-lg a:link,
#nav-menu-lg a:visited{
    color:#fff;
    text-decoration: none;
}

#nav-menu-lg a:hover,
#nav-menu-lg a:active,
#nav-menu-lg a:focus{
    background-color: #a92029;
}

#nav-menu-xs a:link,
#nav-menu-xs a:visited{
    color:#000;
    text-decoration: none;
}

#nav-menu-xs a:hover,
#nav-menu-xs a:active,
#nav-menu-xs a:focus{
    color:#000;
    text-decoration: none;
}

#navbar-title button:focus{
    background-color: #F8F8F8;
}

#navbar-title {
    margin: 0;
}

#navbar-title a {
    color: #000;
}


#navbar-logo-lg{
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

#navbar-logo-lg img{
    height: 20px;
}

#navbar-logo-xs{
    height: 50px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 8px;
    float: left;
    position: relative;
    bottom: 2px;
    left: 5px;
}

#navbar-logo-xs img{
    height:16px;
}

#background-img {
    padding: 0;

}

#menu-button{
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid;
    border-color: #DDDDDD;
    color: #454645;
    border-radius: 4px;
    width:100%;
}

.nav-menu-div-lg {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #BE2029;
}
.nav-menu-div-lg1 {
    margin-top: 3px;
    margin-bottom: 3px;
    padding:0px !important;
}
.nav-menu-div-lgheader {
    width:100%;
}
.nav-menu-div-lgheader span {
    background-color: #BE2029;
    width:10%;
    line-height:36px;
    padding-top:11px;
    padding-bottom:11px;
    
}
.header-hr{
    margin: 0 0 5px 0;
    border-top: 8px solid #BE2029;
}
#nav {
	height: 40px;
    background-color: #BE2029;
    color: #FFFFFF;
}
#nav ul {
	list-style: none;
}
#nav ul li {
	float: left;
	width: 10%;
    position: relative;
    color: #FFFFFF;
}
#nav div {
	width: 100%;
	position: absolute;
	left: 0px;
	padding-bottom: 0px;
	float: left;
	height:100px;
    z-index: 100;
    display: none;
	background-color: #fff;
}
#nav li a {
	text-decoration: none;
	color: #FFFFFF;
	line-height: 20px;
	display: block;
}
#nav li a:hover {
	text-decoration: none;
	color: #FFFFFF;
    background-color: #a92029;
}
#nav div a {
	text-decoration: none;
    color: #363636;
    line-height: 26px;
    border-right:solid 1px #ccc;
    border-left:solid 1px #ccc;
    border-bottom:solid 1px  #ccc;
    display: block;
    text-align:center;
}
#nav div a:hover {
    background-color: #ccc;
    color:#000
}
